.detailPage {
  width: 100%;
  max-width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 24px */

    label {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 150%; /* 24px */
    }

    input {
      width: 100%;
      // border: 1px solid #494949;
      // background-color: #181818;
      // border-radius: 99px;
      // padding: 8px 16px;

      &::placeholder {
        color: #979995;
      }
    }
    .control {
      display: flex;
      gap: 12px;
      margin-top: 24px;

      .confirm {
        cursor: pointer;
        width: 100%;
        max-width: 500px;

        height: 40px;
        padding: 8px 16px;

        border-radius: 99px;
        background: #aee67f;

        display: flex;
        align-items: center;
        justify-content: center;

        color: #292f23;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%; /* 24px */

        &:hover {
          filter: brightness(1.25);
        }
      }

      .back {
        cursor: pointer;
        width: 100%;
        max-width: 500px;

        height: 40px;
        padding: 8px 16px;

        border-radius: 99px;
        border: 1px solid #595b57;
        background: #494949;

        color: #efefef;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%; /* 24px */

        &:hover {
          filter: brightness(1.25);
        }
      }
    }

    .badge {
      border-radius: 99px;
      border: 1px solid #aee67f;
      padding: 2px 4px;
      color: #aee67f;
      margin-left: 8px;
      font-size: 12px;
      font-weight: 400;
    }
    .list {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      gap: 6px;


      .orderItem {
        border: 1px solid #aee67f;
        border-radius: 99px;
        padding: 4px 12px;

        // padding-bottom: 12px;

        // &:not(:last-of-type) {
        //   border-bottom: 1px solid #49494939;
        // }
      }
    }

    span {
      color: #979995;
    }
  }
}
